<table>
	<tr>
		<td ng-repeat='level in levels'>
			<div class="entry path">
				{{level.entries[0].path.replace(level.entries[0].name,'')}}
				<i class='icon-star right favorite'
					ng-class="{faved: pathFaved(level.entries[0].path.replace(level.entries[0].name,''))}"
					ng-click='togglePathFav(level)'>
					</i>
			</div>
			<div ng-show='!level.entries.length'>
				Nothing to see here.
			</div>
			<div ng-repeat='entry in level.entries | filter: {name: search, faved: view=="f"}' class='entry' 
				 ng-animate="'level'"
				 ng-class="{c_entry: c_entry==entry}">
				<div ng-switch='entry.type' class="">
					<div ng-switch-when='file' class='file'>
						<i class='icon-star favorite'
								ng-class="{faved: entry.faved}"
								ng-click='toggleFav(entry)'>
								</i>
						<a ng-href='../../{{entry.path}}' target="_blank">{{entry.name}}</a>
					</div>
					<div ng-switch-when='dir' class='dir'
						 ng-class="{selected: entry.selected}"
						 ng-click='open($parent.$parent.$index, entry)'>
						<i class='icon-star favorite'
								ng-class="{faved: entry.faved}"
								ng-click='toggleFav(entry)'>
								</i>
						<span>{{entry.name}}</span><i class="icon-caret-right right"></i>
					</div>
				</div>
			</div>
		</td>
	</tr>
</table>
